.main {
  color: white;
  margin-left: 560px;
  width: calc(100% - 560px);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .icon {
    svg {
      font-size: 60px;
    }
  }
  h1 {
    margin-block: 10px;
  }
  p {
    line-height: 1.6;
  }
  @media (max-width: 1161px) {
    display: none;
  }
}
